table, th, td {
  border: 2px solid purple;
  border-collapse: collapse;
  padding: 3px;
  text-align: left;
  font-family: arial;
  background-color: #ffe6ff;
  width:60%}

title { text-align: center ; 
		font-family: copperplate ;
		background-color: #dd99ff }

h1 { text-align: center ; 
	font-family: arial ;
	background-color: #eeccff ;
	color: #220033 }

h2 { text-align: center ; 
	font-family:arial; 
	background-color: #eeccff ; 
	color: #220033 }

p { font-family: arial ; 
  background-color: #f7e6ff ; 
  font-size: 95% }

img {width:40% ;
	 display: block;
	 float: right;
	 padding: 15px;
	 margin: auto;
	 border: purple;
	